<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @setup.name %>
</p>

<p>
	<strong>Start:</strong>
	<%= @setup.start %>
</p>

<p>
	<strong>Show:</strong>
	<%= @setup.show %>
</p>

<p>
  <strong>Code:</strong>
  <%= @setup.code %>
</p>

<%= link_to 'Edit', edit_setup_path(@setup) %> |
<%= link_to 'Back', setups_path %>
