<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @operator.user_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @operator.event_id %>
</p>

<%= link_to 'Edit', edit_operator_path(@operator) %> |
<%= link_to 'Back', operators_path %>
