<% if @tournament.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

		<ul>
			<% @tournament.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="field">
	<%= f.label :name %><br>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :game_id %><br>
	<%= f.select :game_id, options_from_collection_for_select(@games, :id, :name, selected: @tournament.game_id) %>
</div>
<div class="field">
	<%= f.label :setup_id %><br>
	<%= f.select :setup_id, options_from_collection_for_select(@setups, :id, :name, selected: @tournament.setup_id) %>
</div>

<div class="actions">
	<%= f.submit %>
</div>