<p id="notice"><%= notice %></p>

<p><%= @tournament.event.name %></p>
<h1><%= @tournament.name %></h1>

<p>
	<strong>Phase:</strong>
	<%= @tournament.phase %>
</p>

<p>
  <strong>Game:</strong>
  <%= @tournament.game.name %>
</p>

<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>Participants</th>
		</tr>
	</thead>
	<tbody>
		<% @tournament.participants.each do |participant| %>
			<tr>
				<td><%= participant.username %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<div>
	<% if current_user and @tournament.phase == 'enroll' %>
		<% if current_user.is_participant_of(@tournament) %>
			<%= form_for(@participation, method: :delete) do %>
				<%= submit_tag 'Leave' %>
			<% end %>
		<% else %>
			<%= form_for(@participation) do |f| %>
				<%= f.hidden_field :tournament_id %>
				<%= f.submit value:'Join' %>
			<% end %>
		<% end %>
	<% end %>
</div>


<%= render 'battles/battle', battles: @tournament.battles %>



<% if current_user %>
	<% if current_user.is_operator_of @tournament.event %>
		<div class="controls" id="operator-tools">
			<%= render 'controls', tournament: @tournament %>
		</div>
	<% end %>
<% end %>
