<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>

<table>
	<thead>
		<tr>
			<th>Tournament</th>
		</tr>
	</thead>
	<tbody>
		<% @event.tournaments.each do |tournament| %>
			<tr>
				<td><%= tournament.name %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<p><%= link_to 'Create new tournament', new_event_tournament_path(event_id: @event.id) %></p>

<% if current_user %>
	<p>
		<strong><%= current_user.is_operator_of @event %></strong>
	</p>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
