<% battles.order('created_at asc').each do |battle| %>
	<div class="battle <%= battle.state %>">
		<%= battle.name %>

		<ul>
			<% battle.acts.order('created_at asc').each do |act| %>
				<li>
					<% unless act.user.nil? %>
						<%= act.user.username %>
						<%= act.score %>
						<% if current_user and current_user.is_operator_of(@tournament.event) %>
							<% unless battle.finished? %>
								<%= form_for act do |f| %>
									<%= f.hidden_field :score, value: act.score_plus_one %>
									<%= f.submit value: '+' %>
								<% end %>
								<%= form_for act, method: :delete, data: { confirm: 'Are you sure?' } do |f| %>
									<%= f.submit value: 'Delete' %>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
				</li>
			<% end %>
		</ul>

		<ul>
			<% battle.get_unfinished_prebattles.each do |prebattle| %>
				<li>
					Winner of <%= prebattle.name %>
				</li>
			<% end %>
		</ul>

		<% if current_user and current_user.is_operator_of(@tournament.event) %>
			<%= form_for battle do |f| %>
				<% if battle.finished? %>
					<%= f.hidden_field :state, value: 'pending' %>
					<%= f.submit value: 'Unfinish' %>
				<% else %>
					<%= f.hidden_field :state, value: 'finished' %>
					<%= f.submit value: 'Finish' %>
				<% end %>
			<% end %>
		<% end %>

		<div>
			<small>
				<% if battle.prebattles.count > 0 %>
					<strong>Prebattles:</strong>
					<% battle.prebattles.each do |b| %>
						<%= b.name %>
					<% end %>
				<% end %>
				<br>
				<% if battle.postbattles.count > 0 %>
					<strong>Postbattles:</strong>
					<% battle.postbattles.each do |b| %>
						<%= b.name %>
					<% end %>
				<% end %>
			</small>
		</div>
	</div>
<% end %>