<% battles.each do |battle| %>
	<div class="battle <%= battle.state %>">
		<%= battle.name %>
		<ul>
			<% battle.acts.each do |act| %>
				<%= form_for battle, url: set_winner_battle_path do |f| %>
					<li>
						<%= act.user.username %>
						<%= act.score %>
						<%= f.hidden_field :id, value: battle.id %>
						<%= f.hidden_field :winner, value: act.id %>
						<%= f.submit value: 'Win' %>
					</li>
				<% end %>
			<% end %>
		</ul>

		<div>
			<small>
				<% if battle.prebattles.count > 0 %>
					<strong>Prebattles:</strong>
					<% battle.prebattles.each do |b| %>
						<%= b.name %>
					<% end %>
				<% end %>
				<br>
				<% if battle.postbattles.count > 0 %>
					<strong>Postbattles:</strong>
					<% battle.postbattles.each do |b| %>
						<%= b.name %>
					<% end %>
				<% end %>
			</small>
		</div>
	</div>
<% end %>