<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @battle.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @battle.state %>
</p>

<p>
	<strong>Tournament:</strong>
	<%= @battle.tournament_id %>
</p>

<strong>Players:</strong>
<ul>
	<% @battle.acts.each do |act| %>
		<li>
			<%= link_to act.user.username, act.user %>
			<small><%= link_to 'act', act %></small>
		</li>
	<% end %>
</ul>


<%= link_to 'Edit', edit_battle_path(@battle) %> |
<%= link_to 'Back', battles_path %>
