<!DOCTYPE html>
<html>
<head>
  <title>Tabora</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
	<strong><%= link_to 'HOME', root_path %></strong>
	<%= link_to 'Events', events_path %>
	<%= link_to 'Tournaments', tournaments_path %>
	<%= link_to 'Games', games_path %>
	|
	<% if current_user.nil? %>
		<%= link_to 'Sign up', '/signup' %>
		<%= link_to 'Login', '/login' %>
	<% else %>
		<%= link_to current_user.username, current_user %>
		<%= link_to 'Logout', '/logout', method: :delete %>
	<% end %>
	<br />
	<%= link_to 'Users', users_path %>
	<%= link_to 'Operators', operators_path %>
	<%= link_to 'Participations', participations_path %>
</nav>

<%= yield %>

</body>
</html>
